.secondary-item {
  float: left;
}
.card-title{
  background-color: black;
  color: white;
  padding-left: 0%;
}
.collection{
display: flex;
justify-content: space-between;
}
.container{
  padding: 20px;
}
.delete{
  margin-left: 70%;
}